---
import AboutImage from "@components/AboutImage.astro";
import Experience from "@components/Experience.astro";
import Layout from "@layout/Layout.astro";
---

<Layout
  pageTitle="About"
  description="I am Oleg Emeliyanov. I live in nord Italy, where I work on my projects and sturtups. "
  type="content"
>
  <main class="px-8">
    <AboutImage />
    <Experience />
  </main>
</Layout>
