---
import { Image } from 'astro:assets';
import aboutImage from "../assets/about.png";
---

<!-- note: next time use CSS grid directly, don't mess around with relative positions -->
<div class="pt-16 sm:pb-12 md:pb-4 lg:pb-16">
  <div
    class="mx-auto mt-8 max-w-7xl lg:px-8 lg:bg-transparent bg-contentbackground"
  >
    <div class="lg:grid lg:grid-cols-12">
      <div
        class="z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:py-16 lg:bg-transparent"
      >
        <div class="px-4 mx-auto max-w-xs sm:px-6 md:max-w-md lg:p-0">
          <Image
          src={aboutImage}
            decoding="async"
            loading="lazy"
            class="object-cover object-center w-full max-w-md rounded-3xl shadow-2xl -rotate-3 aspect-[1/1]"
            
            alt="Image of myself"
          />
        </div>
      </div>

      <div
        class="relative rounded-3xl lg:grid lg:grid-cols-10 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:items-center lg:bg-contentbackground"
      >
        <div
          class="hidden overflow-hidden absolute inset-0 rounded-3xl pointer-events-none lg:block"
          aria-hidden="true"
        >
          <svg
            class="absolute bottom-full left-full opacity-20 transform -translate-x-2/3 translate-y-1/3 xl:top-0 xl:bottom-auto xl:translate-y-0"
            width="404"
            height="384"
            fill="none"
            viewBox="0 0 404 384"
            aria-hidden="true"
          >
            <defs>
              <pattern
                id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-accent-500"
                  fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect
              width="404"
              height="384"
              fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
          </svg>
          <svg
            class="absolute top-full opacity-40 transform -translate-x-1/3 -translate-y-1/3 xl:-translate-y-1/2"
            width="404"
            height="384"
            fill="none"
            viewBox="0 0 404 384"
            aria-hidden="true"
          >
            <defs>
              <pattern
                id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-accent-500"
                  fill="currentColor"></rect>
              </pattern>
            </defs>
            <rect
              width="404"
              height="384"
              fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
          </svg>
        </div>

        <div
          class="py-12 mx-auto space-y-6 sm:py-16 sm:max-w-3xl lg:col-span-7 lg:col-start-4 lg:max-w-none"
        >
          <h2
            class="text-4xl font-bold tracking-tighter sm:text-5xl"
            id="about-heading"
          >
          I am Oleg Emeliyanov. I live in nord Italy, where I work on my projects and sturtups.
          </h2>
          <p class="text-lg text-primary-300 md:text-primary-100">
            I wear many hats and have diverse interests, and I'm excited to share them with you.
            <br /> 
            <br />   
            Furniture Purveyor: As a furniture purveyor, I have a passion for interior design and creating spaces that are not just functional but also beautiful. I love to curate and design furniture pieces that transform houses into homes. Whether it's modern minimalism, rustic charm, or a fusion of styles, I'm dedicated to helping you find the perfect pieces to suit your style and needs.
            <br />
            3D CAD Developer: I'm also deeply immersed in the world of 3D CAD development. I have a knack for turning creative concepts into tangible 3D models, helping clients and businesses bring their designs to life. From architectural models to product prototypes, I thrive on the challenge of turning ideas into digital reality.
            <br />
            Rookie Pilot: Flying has always been a dream of mine, and recently, I took the plunge to become a rookie pilot. The skies have opened up a whole new world of adventure for me. Whether it's soaring above the clouds, exploring new destinations, or just enjoying the freedom of flight, my journey as a pilot has been exhilarating, and I can't wait to share some of my experiences with you.
            <br />
            Throughout this website, you'll find a glimpse into my life and the various passions I pursue. From showcasing some of my favorite furniture pieces to sharing my CAD development projects and the thrilling stories of my journey as a rookie pilot, I hope you'll find something here that inspires and resonates with you.
            <br />
            Feel free to explore, reach out with any inquiries or ideas, and join me in these exciting endeavors. Thank you for visiting, and I look forward to connecting with you!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
